@use "../../../theme";

header {
  background-color: theme.$header-bg-color;
  min-height: 130px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

  h1 {
    margin: 0;
    font-size: 40pt;
  }

  h5 {
    margin: 0;
    font-size: 14pt;
  }
}

main {
  padding: 20px;
}
