@use '../../../theme';

.animation {
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -webkit-transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

li {
  padding: 20px;
  border: theme.$row-border;
  background-color: theme.$row-bg-color;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    background-color: theme.$row-bg-hover-color;
  }

  .title {
    color: theme.$title-font-color;
    font-size: theme.$title-font-size;
  }

  .author {
    margin-left: 5px;
    color: theme.$author-color;
  }

  .date {
    @extend .title;

    right: 80px;
  }

  .btn-container {
    width: 35px;
    height: 10px;
    margin: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    button {
      background-color: inherit;
      padding: 0;
      position: absolute;

      &:hover {
        background-color: inherit;
      }

      img {
        width: 20px;
        height: 20px;
        @extend .animation;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
