body {
  margin: 0;
  padding: 0;
}

.width-100p {
  width: 100% !important;
}

.flex-1 {
  flex: 1;
}

.text-center {
  text-align: center;
}

.flex-wrap-unset {
  flex-wrap: unset !important;
}

.pre-debug {
  position: fixed;
  right: 0px;
  bottom: 0px;
}

.position-relative {
  position: relative;
}

.position-obsolute {
  position: obsolute;
}

.fix-phone-error-text {
  margin-top: -8px !important;
}

.align-self-center {
  align-self: center;
}
