@use '../../../theme';

button {
  border: none;
  padding: 5px 10px;
  color: #fff;
  background-color: theme.$header-bg-color;
  opacity: 1;
  cursor: pointer;

  &:hover {
    background-color: lighten(theme.$header-bg-color, 0.2);
    border: none;
  }
}
